
.ticket {
  display: flex;
  border: 1px solid #cecece;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #cecece;
  width: 90%;
  flex-direction: column;
  padding: 2.5%;

  .example-spacer {
    flex: 1 1 auto;
  }
}
