<mat-toolbar color="primary">
  <span>Диспетчерская</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="addbilets()">Добавить билет</button>
  <button mat-raised-button color="primary" (click)="addflights()">Добавить Рейс</button>
  <button mat-raised-button color="primary" (click)="flights()">Рейсы</button>
  <button mat-raised-button color="primary" (click)="airplane()">Самолеты</button>
  <button mat-raised-button color="primary" (click)="employee()">Билеты</button>
  <button mat-raised-button color="primary" (click)="logout()">Выход</button>
</mat-toolbar>
<router-outlet></router-outlet>
